### Java ###
*.class
*.jar
*.war
*.ear

### IntelliJ IDEA ###
.idea/
*.iml
*.ipr
*.iws
out/

### Eclipse ###
.project
.classpath
.settings/
.target/

### VS Code ###
.vscode/

### Build output ###
/target/
/build/
/out/

### OS junk ###
.DS_Store
Thumbs.db

### Logs ###
*.log

### Environment files ###
.env
*.env

### Dependency directories ###
/node_modules/

### Maven ###
.mvn/
!**/src/main/**/.gitkeep

### Gradle ###
.gradle/
build/
!gradle-wrapper.jar
gradle-app.setting

### Test reports ###
/test-output/
/surefire-reports/
/jacoco.exec

### Others ###
*.swp
*.swo

