# ------------------------
# IntelliJ IDEA
# ------------------------
.idea/
*.iml
*.iws
out/
*.class

# ------------------------
# Global OS files
# ------------------------
.DS_Store
Thumbs.db

# ------------------------
# Environment files
# ------------------------
.env

#-------------------------
# Node files
# ------------------------
./frontend/node_modules/

# ------------------------
# Docker
# ------------------------
*.dockerfile
docker-compose.override.yml
