version: "3.9"

services:
  # --- Eureka Server ---
  eureka-server:
    build: ./eureka-server
    ports:
      - "${SERVER_PORT_EUREKASERVER}:8761"

  # --- API Gateway ---
  api-gateway:
    build: ./api-gateway
    ports:
      - "${SERVER_PORT_APIGATEWAY}:8080"
    environment:
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - eureka-server
      - auth-service
      - category-service
      - user-service

  # --- Auth Service ---
  auth-service:
    build: ./auth-service
    ports:
      - "${SERVER_PORT_AUTHSERVICE}:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://auth-db:5432/${POSTGRES_DB_AUTHSERVICE}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER_AUTHSERVICE}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD_AUTHSERVICE}
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - auth-db

  auth-db:
    image: postgres:14-alpine
    ports:
      - "${POSTGRES_PORT_AUTHSERVICE}:5432"
    volumes:
      - ./auth-service/postgres:/var/lib/postgresql/data
      - ./auth-service/init/init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD_AUTHSERVICE}
      - POSTGRES_USER=${POSTGRES_USER_AUTHSERVICE}
      - POSTGRES_DB=${POSTGRES_DB_AUTHSERVICE}

  # --- Category Service ---
  category-service:
    build: ./category-service
    ports:
      - "${SERVER_PORT_CATEGORYSERVICE}:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://category-db:5432/${POSTGRES_DB_CATEGORYSERVICE}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER_CATEGORYSERVICE}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD_CATEGORYSERVICE}
      - CLOUDINARY_API_KEY=${CLOUDINARY_API_KEY}
      - CLOUDINARY_API_SECRET=${CLOUDINARY_API_SECRET}
      - CLOUDINARY_CLOUD_NAME=${CLOUDINARY_CLOUD_NAME}
      - CLOUDINARY_URL=${CLOUDINARY_URL}
    depends_on:
      - category-db

  category-db:
    image: postgres:14-alpine
    ports:
      - "${POSTGRES_PORT_CATEGORYSERVICE}:5432"
    volumes:
      - ./category-service/postgres:/var/lib/postgresql/data
      - ./category-service/init/init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD_CATEGORYSERVICE}
      - POSTGRES_USER=${POSTGRES_USER_CATEGORYSERVICE}
      - POSTGRES_DB=${POSTGRES_DB_CATEGORYSERVICE}

  # --- User Service ---
  user-service:
    build: ./user-service
    ports:
      - "${SERVER_PORT_USERSERVICE}:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://user-db:5432/${POSTGRES_DB_USERSERVICE}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER_USERSERVICE}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD_USERSERVICE}
      - CLOUDINARY_API_KEY=${CLOUDINARY_API_KEY}
      - CLOUDINARY_API_SECRET=${CLOUDINARY_API_SECRET}
      - CLOUDINARY_CLOUD_NAME=${CLOUDINARY_CLOUD_NAME}
      - CLOUDINARY_URL=${CLOUDINARY_URL}
    depends_on:
      - user-db

  user-db:
    image: postgres:14-alpine
    ports:
      - "${POSTGRES_PORT_USERSERVICE}:5432"
    volumes:
      - ./user-service/postgres:/var/lib/postgresql/data
      - ./user-service/init/init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD_USERSERVICE}
      - POSTGRES_USER=${POSTGRES_USER_USERSERVICE}
      - POSTGRES_DB=${POSTGRES_DB_USERSERVICE}

  room-service:
    build: ./user-service
    ports:
      - "${SERVER_PORT_USERSERVICE}:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://user-db:5432/${POSTGRES_DB_ROOMSERVICE}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER_ROOMSERVICE}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD_ROOMSERVICE}

    depends_on:
      - room-db

  room-db:
    image: postgres:14-alpine
    ports:
      - "${POSTGRES_PORT_ROOMSERVICE}:5432"
    volumes:
      - ./user-service/postgres:/var/lib/postgresql/data
      - ./user-service/init/init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD_ROOMSERVICE}
      - POSTGRES_USER=${POSTGRES_USER_ROOMSERVICE}
      - POSTGRES_DB=${POSTGRES_DB_ROOMSERVICE}

  kafka:
    image: bitnami/kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_CFG_PROCESS_ROLES=broker,controller
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,CONTROLLER://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - ALLOW_PLAINTEXT_LISTENER=yes