version: "3.9"

services:
  # --- Frontend ---
  frontend:
    build:
      context: ./Picksy-frontend
      target: dev
    ports:
      - "${FRONTEND_PORT}:5173"
    networks:
      - client-network

  # --- Eureka Server ---
  eureka-server:
    build: ./eureka-server
    ports:
      - "${SERVER_PORT_EUREKASERVER}:8761"
    networks:
      - server-network

  # --- API Gateway ---
  api-gateway:
    build: ./api-gateway
    ports:
      - "${SERVER_PORT_APIGATEWAY}:8080"
    environment:
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - eureka-server
      - auth-service
      - category-service
      - user-service
    networks:
      - server-network
      - client-network

  # --- Auth Service ---
  auth-service:
    # The common-dto is needed for this service so context must be .
    # in order to copy it
    build:
      context: .
      dockerfile: ./auth-service/Dockerfile
    ports:
      - "${SERVER_PORT_AUTHSERVICE}:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://auth-db:5432/${POSTGRES_DB_AUTHSERVICE}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER_AUTHSERVICE}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD_AUTHSERVICE}
      - JWT_SECRET=${JWT_SECRET}
      - SERVER_ADDRESS=0.0.0.0
      - GOOGLE_CLIENT_ID=${GOOGLE_CLIENT_ID}
      - GOOGLE_SECRET_KEY=${GOOGLE_SECRET_KEY}
      - EMAIL=${EMAIL}
      - EMAIL_PASSWORD=${EMAIL_PASSWORD}
    depends_on:
      - auth-db
    networks:
      - server-network

  auth-db:
    image: postgres:14-alpine
    ports:
      - "${POSTGRES_PORT_AUTHSERVICE}:5432"
    volumes:
      - ./auth-service/postgres:/var/lib/postgresql/data
      - ./auth-service/init/init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD_AUTHSERVICE}
      - POSTGRES_USER=${POSTGRES_USER_AUTHSERVICE}
      - POSTGRES_DB=${POSTGRES_DB_AUTHSERVICE}
    networks:
      - server-network


  # --- Category Service ---
  category-service:
    build: ./category-service
    ports:
      - "${SERVER_PORT_CATEGORYSERVICE}:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://category-db:5432/${POSTGRES_DB_CATEGORYSERVICE}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER_CATEGORYSERVICE}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD_CATEGORYSERVICE}
      - CLOUDINARY_API_KEY=${CLOUDINARY_API_KEY}
      - CLOUDINARY_API_SECRET=${CLOUDINARY_API_SECRET}
      - CLOUDINARY_CLOUD_NAME=${CLOUDINARY_CLOUD_NAME}
      - CLOUDINARY_URL=${CLOUDINARY_URL}
      - TMDB_TOKEN=${TMDB_READ_API_TOKEN}
    depends_on:
      - category-db
    networks:
      - server-network

  category-db:
    image: postgres:14-alpine
    ports:
      - "${POSTGRES_PORT_CATEGORYSERVICE}:5432"
    volumes:
      - ./category-service/postgres:/var/lib/postgresql/data
      - ./category-service/init/init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD_CATEGORYSERVICE}
      - POSTGRES_USER=${POSTGRES_USER_CATEGORYSERVICE}
      - POSTGRES_DB=${POSTGRES_DB_CATEGORYSERVICE}
    networks:
      - server-network

  # --- User Service ---
  user-service:
    build:
      context: .
      dockerfile: ./user-service/Dockerfile
    ports:
      - "${SERVER_PORT_USERSERVICE}:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://user-db:5432/${POSTGRES_DB_USERSERVICE}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER_USERSERVICE}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD_USERSERVICE}
      - CLOUDINARY_API_KEY=${CLOUDINARY_API_KEY}
      - CLOUDINARY_API_SECRET=${CLOUDINARY_API_SECRET}
      - CLOUDINARY_CLOUD_NAME=${CLOUDINARY_CLOUD_NAME}
      - CLOUDINARY_URL=${CLOUDINARY_URL}
    depends_on:
      - user-db
    networks:
      - server-network

  user-db:
    image: postgres:14-alpine
    ports:
      - "${POSTGRES_PORT_USERSERVICE}:5432"
    volumes:
      - ./user-service/postgres:/var/lib/postgresql/data
      - ./user-service/init/init.sql:/docker-entrypoint-initdb.d/init.sql
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD_USERSERVICE}
      - POSTGRES_USER=${POSTGRES_USER_USERSERVICE}
      - POSTGRES_DB=${POSTGRES_DB_USERSERVICE}
    networks:
      - server-network

  room-service:
    build: ./room-service
    ports:
      - "${SERVER_PORT_ROOMSERVICE}:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://room-db:5432/${POSTGRES_DB_ROOMSERVICE}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER_ROOMSERVICE}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD_ROOMSERVICE}
    depends_on:
      - room-db
    networks:
      - server-network

  room-db:
    image: postgres:14-alpine
    ports:
      - "${POSTGRES_PORT_ROOMSERVICE}:5432"
    volumes:
      - ./room-service/postgres:/var/lib/postgresql/data
      - ./room-service/init:/docker-entrypoint-initdb.d
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD_ROOMSERVICE}
      - POSTGRES_USER=${POSTGRES_USER_ROOMSERVICE}
      - POSTGRES_DB=${POSTGRES_DB_ROOMSERVICE}
    networks:
      - server-network

  decision-service:
    build: ./decision-service
    ports:
      - "${SERVER_PORT_DECISIONSERVICE}:8080"
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://decision-db:5432/${POSTGRES_DB_DECISIONSERVICE}
      - SPRING_DATASOURCE_USERNAME=${POSTGRES_USER_DECISIONSERVICE}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD_DECISIONSERVICE}
    depends_on:
      - decision-db
    networks:
      - server-network

  decision-db:
    image: postgres:14-alpine
    ports:
      - "${POSTGRES_PORT_DECISIONSERVICE}:5432"
    volumes:
      - ./decision-service/postgres:/var/lib/postgresql/data
      - ./decision-service/init:/docker-entrypoint-initdb.d
    environment:
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD_DECISIONSERVICE}
      - POSTGRES_USER=${POSTGRES_USER_DECISIONSERVICE}
      - POSTGRES_DB=${POSTGRES_DB_DECISIONSERVICE}
    networks:
      - server-network

  kafka:
    image: apache/kafka:latest
    container_name: kafka
    ports:
      - "9092:9092"
    environment:
      KAFKA_NODE_ID: 0
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_CONTROLLER_QUORUM_VOTERS: 0@kafka:9093
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_LOG_DIRS: /tmp/kraft-combined-logs
      CLUSTER_ID: MkU3OEVBNTcwNTJENDM2Qk
    networks:
      - server-network


networks:
  server-network:
    driver: bridge
  client-network:
    driver: bridge
