.menu-container ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-color);
    flex: 0 1 auto;
    list-style-type: none;
}

.menu-container a:hover{
    opacity: 0.7;
    cursor: pointer;
}

.menu-container li:hover{
    opacity: 0.7;
    border-radius: 10px;;
}

@media only screen and (max-width: 900px) {
    .menu-container ul{
        gap: 1em;
    }
}