.category-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-color: var(--primary-bg-color);
}

.page-container {
  position: relative;
  overflow: visible;
}

.category-save {
  width: 70vw;
}

.category-save button {
  border: none;
  background-color: #e0c79a;
  color: white;
  font-size: 1.1rem;
  padding: 0.3rem 0.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

.category-save button:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 1000px) {
  .category-save {
    width: 80vw;
  }
}

@media only screen and (max-width: 800px) {
  .category-save {
    width: 100vw;
    margin-left: 2rem;
  }
}
