
.logo-text{
    font-family: 'League Spartan', sans-serif;
    font-size: 3rem;
    letter-spacing: -0.2rem;
    padding: 5px;
    font-weight: 800;
    color: black;
}

.logo-text a:hover{
    opacity: 1;
}