*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --primary-bg-color: #fafafa;
  --text-color: black;
  --font-family: 'Poppins', sans-serif;
  --navbar-color: #f1efe7;
}

html {
  background-color: var(--primary-bg-color);
}

html, body {
  margin: 0;          
  padding: 0;
}


a{
  text-decoration: none;
  color: inherit;
  font: inherit;
}